@import '~scss/colors';

.md-btn-1 {
  border-radius: 999px;
  padding: 2px 15px;
  background: $palette-1;
  outline: none!important;
  box-shadow: none!important;
  border: none;

  color: #ffffff;

  transition: 0.3s;

  &:hover {
    background: $palette-1-dark;
  }
}
