@import '~scss/_colors';

.book-card {
  border-radius: 16px;
  background: #3f3e46;

  .title {
    color: #ffffff;
    font-size: 125%;
    font-weight: 600;
  }

  .author {
    color: #d6d6d6;
  }

  .progress {
    background: #9e9e9e;
    border-radius: 999px;

    .progress-bar {
      background: $palette-1;
      border-radius: 999px;
    }
  }

  .pages {
    color: #d6d6d6;
    font-size: 95%;
  }

  .pages-input {
    text-align: center;

    border: none;
    max-width: 45px;
    outline: none;
    color: white;

    border-bottom: 2px solid #333333;
    transition: 0.3s;
    background: transparent;

    &:hover:not(:focus) {
      border-color: $palette-1-light;
    }

    &:focus {
      border-color: $palette-1;
    }
  }
}
