@import '~scss/_colors';

.add-book-card {
  border-radius: 16px;
  background: #3f3e46;
  height: 100%;

  .card-input {
    border-radius: 0;
    background: transparent;
    outline: none!important;
    box-shadow: none!important;
    border: none;
    border-bottom: 2px solid white;
  
    caret-color: white;
  
    color: white;
  
    padding: 2px 5px;
  }

  .check {
    margin-top: 2px;
    color: #ffffff;
    font-size: 165%;
    cursor: pointer;
    transition: 0.3s;

    &.selected {
      color: #17df64;
    }

    &:hover:not(.selected) {
      color: #63e28d;
    }
  }
}

.md-btn-1 {
  border-radius: 999px;
  padding: 2px 15px;
  background: $palette-1;
  outline: none!important;
  box-shadow: none!important;
  border: none;

  &:hover {
    background: $palette-1-dark;
  }
}
