@import '~scss/_colors';

.rnavbar {
  background: #32323a;

  border-radius: 999px;
  height: 100%;
  max-width: 70px;
}

.navbar-icon {
  font-size: 220%;
  color: #8a8a8a;
  margin-bottom: 30px;

  transition: 0.3s;
  cursor: pointer;

  &:hover:not(.selected) {
    color: $palette-1-light;
  }

  &.selected {
    color: $palette-1;
  }
}
